<!--The content below is only a placeholder and can be replaced.-->
<div class="example-form">
  <mat-toolbar>
    <span>Registration Form</span>
  </mat-toolbar>
  <form >
    <mat-form-field class="example-full-width" floatLabel="always">
      <input matInput id='pinCd' name = 'pinCd' type="number" required>
      <mat-placeholder>
      <mat-icon matPrefix>fiber_pin</mat-icon>Please input PIN Code</mat-placeholder>
      <mat-icon matSuffix>mode_edit</mat-icon> 
    </mat-form-field>

    <mat-form-field class="example-full-width" floatLabel="auto">
        <input type="email" matInput required>
        <mat-placeholder>
        <mat-icon matPrefix>email</mat-icon>Please input Email</mat-placeholder>
        <mat-icon matSuffix>mode_edit</mat-icon> 
      </mat-form-field>
    <button class="bt" mat-raised-button color="primary"><mat-icon>thumb_up</mat-icon> 我有Icon</button>
  </form> 

<!-- 
<button mat-button color="primary">Hello World！</button>
<br>

<br>
<mat-icon>person</mat-icon>
<mat-icon color="primary">print</mat-icon>
<div>
  這是一般的ICON顏色
  <mat-icon>person</mat-icon>
</div>

<div>
  這是加上primary顏色的ICON
  <mat-icon color="primary">thumb_up</mat-icon>
</div>

<div>
  這是加上accent顏色的ICON
  <mat-icon color="accent">info</mat-icon>
</div>

<div>
  這是加上warn顏色的ICON
  <mat-icon color="warn">warning</mat-icon>
</div>
<router-outlet></router-outlet> -->
