/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    font-size: 24px;
  }
  
  .example-full-width {
    width: 80%;
  }
  
  .btn {
    position:absolute;
    right:0px;
  }